<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dutyujm.mapper.SchoolexperienceMapper" >
  <resultMap id="BaseResultMap" type="cn.dutyujm.pojo.Schoolexperience" >
    <id column="eid" property="eid" jdbcType="INTEGER" />
    <result column="startTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="schoolName" property="schoolname" jdbcType="VARCHAR" />
    <result column="majorName" property="majorname" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    eid, startTime, endTime, schoolName, majorName, detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from schoolExperience
    where eid = #{eid,jdbcType=INTEGER}
  </select>


  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from schoolExperience
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from schoolExperience
    where eid = #{eid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.dutyujm.pojo.Schoolexperience" >
    insert into schoolExperience (eid, startTime, endTime, 
      schoolName, majorName, detail
      )
    values (#{eid,jdbcType=INTEGER}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{schoolname,jdbcType=VARCHAR}, #{majorname,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.dutyujm.pojo.Schoolexperience" >
    insert into schoolExperience
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eid != null" >
        eid,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="schoolname != null" >
        schoolName,
      </if>
      <if test="majorname != null" >
        majorName,
      </if>
      <if test="detail != null" >
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="schoolname != null" >
        #{schoolname,jdbcType=VARCHAR},
      </if>
      <if test="majorname != null" >
        #{majorname,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.dutyujm.pojo.Schoolexperience" >
    update schoolExperience
    <set >
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="schoolname != null" >
        schoolName = #{schoolname,jdbcType=VARCHAR},
      </if>
      <if test="majorname != null" >
        majorName = #{majorname,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
    </set>
    where eid = #{eid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.dutyujm.pojo.Schoolexperience" >
    update schoolExperience
    set startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      schoolName = #{schoolname,jdbcType=VARCHAR},
      majorName = #{majorname,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR}
    where eid = #{eid,jdbcType=INTEGER}
  </update>
</mapper>